<div class="container" id="page_header">
  
  <div id="header_item_a">
      <h4 class="lead">{{ market }}</h4>
      <p id="time-display"></p>
  </div>
  <div id="header_item_b">
      <form method="GET" novalidate>
        {% csrf_token %}
        
          <!-- <div><input type="date" name="from-date" id="from-date" required class="date-field" style="width: 150px;"></div>
          <label for="to-date"> To: </label>
          <div><input type="date" name="to-date" id="to-date" required class="date-field" style="width: 150px;"></div> -->
          {{filter_form}}
        <input type="submit" value="Fetch" class="btn btn-outline-dark head_button" style="margin-top:10px;">
      </form>
 
  </div>
  <div id="header_item_c">
      <form method="GET">
          {% csrf_token %}
        <input type="submit" value="Clear" class="btn btn-outline-dark head_button">
      </form>
    </div>        
</div>
<script>
    $('#id_from_date').datepicker({
            uiLibrary: 'bootstrap4'
        });
    $('#id_to_date').datepicker({
            uiLibrary: 'bootstrap4'
        });
</script>

