<div class="container" id="page_header">
  
  <div id="header_item_a">
      <h4 class="lead">{{ market }}</h4>
      <p id="time-display"></p>
  </div>
  <div id="header_item_b">
      <form method="GET" novalidate>
        {% csrf_token %}
          {{filter_form}}
        <input type="submit" value="Fetch" class="btn btn-outline-secondary head_button" style="margin-top:10px;">
      </form>
 
  </div>
  <div id="header_item_c">
      <form method="GET">
          {% csrf_token %}
        <input type="submit" value="Clear" class="btn btn-outline-secondary head_button">
      </form>
    </div>        
</div>
<script>
    $('#id_from_date').datepicker({
            uiLibrary: 'bootstrap4'
        });
    $('#id_to_date').datepicker({
            uiLibrary: 'bootstrap4'
        });
    
    var d = new Date();
    document.getElementById("time-display").innerHTML = d;
</script>

