<!-- Sidebar -->
<div id="brand" class="container">
    <a href="{% url 'home'%}" style="color:#4bcffa;" class="logo">
        <i class="material-icons md-24">dashboard</i>
    </a>
    <a href="{% url 'home'%}" class="logo-text">
            VG Dashboard
    </a>
</div>
<div class="side-menu">
    <a href="{% url 'sli_dash'%}" class="side-links"><div class="side-head sli-side">SLI-JAPAN</div></a> 
    <a href="{% url 'kr_dash'%}" class="side-links"><div class="side-head kr-side">AIA-KOREA</div></a> 
    <ul class="side-ul">
        <li><i class="fas fa-file-signature"></i> REGISTRATION</li>
        <li><i class="fas fa-ban"></i> CANCELLATIONS</li>
        <li><i class="fas fa-clipboard-check"> </i> ASSESSMENTS</li>
        <li><i class="fas fa-tasks"></i> DAILY ASSESSMENTS</li>
        <li><i class="fas fa-mobile"></i> VDP</li>
        <li><i class="fas fa-trophy"></i> REWARDS</li>
        <li><i class="fab fa-font-awesome-flag"></i> GOALS</li>
    </ul>
</div>