<div id="sidebar">
    <div id="brand" class="container">
        <a href="{% url 'home'%}" style="color:#4bcffa;" class="logo">
            <i class="material-icons md-24">dashboard</i>
        </a>
        <a href="{% url 'home'%}" class="logo-text">
                VG Dashboard
        </a>
    </div>
        <div class="side-menu">
                <a href="{% url 'sli_dash'%}" class="side-links"><div class="side-head sli-side">SLI-JAPAN</div></a> 
                <a href="{% url 'kr_dash'%}" class="side-links"><div class="side-head kr-side">AIA-KOREA</div></a> 
                <ul class="side-ul">
                    <li>REGISTRATION</li>
                    <li>CANCELLATIONS</li>
                    <li>ASSESSMENTS</li>
                    <li>DAILY ASSESSMENTS</li>
                    <li>VDP</li>
                    <li>REWARDS</li>
                    <li>GOALS</li>
                </ul>
        </div>
        <!-- <div id="version" class="fixed-bottom">Version 0.4</div> -->
    </div>