{% extends "dash_app/base.html" %}
{% load staticfiles %}
{% load good_key %}
{% block content %}



{% include 'dash_app/page_header.html' with market="SLI-Japan Dashboard" %}

<div class="wrapper">
    <div class="card_box">
        <canvas id="reg_chart" width="300" height="150"></canvas>
    </div>
        
    <div class="card_box">
        <canvas id="can_chart" width="300" height="150"></canvas>
    </div>
        
    <div class="card_box">
        <canvas id="assess_chart" width="300" height="150"></canvas>
    </div>
        
    <div class="card_box">
            <canvas id="vdp_chart" width="300" height="150"></canvas>
    </div>
    <div class="card_box" id="daily_assess_chart_div">
            <canvas id="daily_assess_chart" ></canvas>
    </div>

    <div class="card_box" id="reward_chart_div">
        <canvas id="rewards_chart"></canvas>
</div>

</div>

<script>
    //Registration Chart
    {
        let x_axis = []
        let y_axis = []
        {% for x  in reg_data %}
            x_axis.push('{{ x.date_time }}') 
            y_axis.push(parseInt('{{ x.count }}'))
        {% endfor%}
        const ctx = document.getElementById('reg_chart').getContext('2d');
        var chart = new Chart(ctx, {

            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: x_axis,
                datasets: [{
                    // lineTension: 0,
                    // fill: false,
                    label: "Registrations",
                    borderColor: 'rgba(34, 167, 240, 1)',
                    backgroundColor:'rgba(34, 167, 240, 0.1)',
                    data: y_axis,
                    pointRadius:5,
                    pointHoverRadius:10,
                }]
            },

            // Configuration options go here
            options: {
                tooltips:{
                    intersect:false,
                    mode: 'nearest',
                    titleFontSize:14,
                    bodyFontSize:12,
                }
            }
        });
    }

    //Cancellation Chart
    {
        let x_axis = []
        let y_axis = []
        {% for x  in can_data %}
            x_axis.push('{{ x.date_time }}') 
            y_axis.push(parseInt('{{ x.count }}'))
        {% endfor%}
        const ctx = document.getElementById('can_chart').getContext('2d');
        var chart = new Chart(ctx, {

            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: x_axis,
                datasets: [{
                    // lineTension: 0,
                    // fill: false,
                    label: "Cancellation",
                    borderColor: 'rgba(34, 167, 240, 1)',
                    backgroundColor:'rgba(34, 167, 240, 0.1)',
                    data: y_axis,
                    pointRadius:5,
                    pointHoverRadius:10,
                }]
            },

            // Configuration options go here
            options: {
                tooltips:{
                    intersect:false,
                    mode: 'nearest',
                    titleFontSize:14,
                    bodyFontSize:12,
                }
            }
        });
    }

    //Assessment_Chart
    {
        let x_axis = []
        let y_axis = []
        {% for x  in assess_data %}
            x_axis.push('{{ x.event_type }}') 
            y_axis.push(parseInt('{{ x.count__sum }}'))
        {% endfor%}
        const ctx = document.getElementById('assess_chart').getContext('2d');
        var chart = new Chart(ctx, {

            // The type of chart we want to create
            type: 'horizontalBar',

            // The data for our dataset
            data: {
                labels: x_axis,
                datasets: [{
                    lineTension: 0,
                    fill: false,
                    label: "Assessments Processed",
                    backgroundColor:'rgba(27, 156, 252,0.8)',
                    hoverBackgroundColor: '#5EFAF7',
                    borderWidth:2,
                    data: y_axis,
                }]
            },

            // Configuration options go here
            options: {
                // legend :{
                //     display:true,
                // }
            }
        });
    }

    //VDP Chart
    {
        let x_axis = []
        let y_axis = []
        {% for x  in vdp %}
            x_axis.push('{{ x.partner_system_name }}') 
            y_axis.push(parseInt('{{ x.count__sum }}'))
        {% endfor%}
        const ctx = document.getElementById('vdp_chart').getContext('2d');
        var chart = new Chart(ctx, {

            // The type of chart we want to create
            type: 'doughnut',

            // The data for our dataset
            data: {
                labels: x_axis,
                datasets: [{
                    lineTension: 0,
                    fill: false,
                    label: "VDP",
                    data: y_axis,
                    backgroundColor:['rgba(254, 164, 127,1)','rgba(37, 204, 247,1)','rgba(245, 229, 27, 1)','rgba(179, 55, 113,1)','rgba(252, 66, 123,1)','rgba(24, 44, 97,1)'],
                    // hoverBorderColor:['rgba(254, 164, 127,1.0)','rgba(37, 204, 247,1.0)','rgba(245, 229, 27, 1)','rgba(179, 55, 113,1.0)','rgba(252, 66, 123,1.0)','rgba(24, 44, 97,1.0)'],
                }]
            },

            // Configuration options go here
            options: {
                anmation:{
                    animateRotate: false,
                    animateScale: true,
                }
            }
        });
    }

    //Daily Assess Chart

    {
        let x_axis = []
        let ds1 = []
        let ds2 = []
        let ds3 = []
        let ds4 = []
        let ds5 = []
        let ds6 = []
        let ds7 = []
        let ds8 = []
        {% for x  in daily_assess %}
            x_axis.push('{{ x.date_time }}') 
            ds1.push(parseInt('{{ x.MWBAssmntCompleted}}'))
            ds2.push(parseInt('{{ x.Mammogram}}'))
            ds3.push(parseInt('{{ x.NonsmokersDeclrtn}}'))
            ds4.push(parseInt('{{ x.PapSmear}}'))
            ds5.push(parseInt('{{ x.SVDocumentUploads}}'))
            ds6.push(parseInt('{{ x.VHCAssmntCompleted}}'))
            ds7.push(parseInt('{{ x.VHRAssmntCompleted}}'))
            ds8.push(parseInt('{{ x.VNAAssmntCompleted}}'))
        {% endfor%}
        const ctx = document.getElementById('daily_assess_chart').getContext('2d');
        var chart = new Chart(ctx, {

            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: x_axis,
                datasets: [{
                   label: 'MWBAssmntCompleted',
                   data: ds1,
                   backgroundColor: '#003f5c',
                //    borderColor: '#003f5c'
                },
                {
                   label: 'Mammogram',
                   data: ds2,
                   backgroundColor: '#2c82c9',
                // borderColor:'#2f4b7c'
                },
                {
                   label: 'NonsmokersDeclrtn',
                   data: ds3,
                   backgroundColor: '#665191',
                },
                {
                   label: 'PapSmear',
                   data: ds4,
                   backgroundColor: '#a05195',
                },
                {
                   label: 'SVDocumentUploads',
                   data: ds5,
                   backgroundColor: '#d45087',
                },
                {
                   label: 'VHCAssmntCompleted',
                   data: ds6,
                   backgroundColor: '#f95d6a',
                },
                {
                   label: 'VHRAssmntCompleted',
                   data: ds7,
                   backgroundColor: '#ff7c43',
                },
                {
                   label: 'VNAAssmntCompleted',
                   data: ds8,
                   backgroundColor: '#ffa600',
                }
                ]
            },

            // Configuration options go here
            options: {
					title: {
						display: true,
						text: 'Daily Assessment Overview'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
                        bodyFontSize: 12,
                        titleFontSize: 16,
                        bodySpacing:4,
					},
					responsive: true,
					scales: {
						xAxes: [{
							// stacked: true,
						}],
						yAxes: [{
							// stacked: true
						}]
					}
				}
        });
    }

    //Rewards Chart
    {
        let x_axis = []
        let ds1 = []
        let ds2 = []
        let ds3 = []
        let ds4 = []
        let ds5 = []

        {% for x  in reward_sli %}
            x_axis.push('{{ x.awarded_on }}') 
            ds1.push(parseInt('{{ x.AppleWatchVitalityCoins}}'))
            ds2.push(parseInt('{{ x.eGiftJPY500}}'))
            ds3.push(parseInt('{{ x.MACHIcafedrinkS}}'))
            ds4.push(parseInt('{{ x.Smoothies}}'))
            ds5.push(parseInt('{{ x.WheelSpin}}'))
        {% endfor%}
        const ctx = document.getElementById('rewards_chart').getContext('2d');
        var chart = new Chart(ctx, {

            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: x_axis,
                datasets: [{
                   label: 'Apple Watch Vitality Coins',
                   data: ds1,
                   borderColor: 'rgba(31, 58, 147, 1)',
                   backgroundColor: 'rgba(31, 58, 147, 0.1)',
                    //    fill: 'origin',
                   pointRadius:5,
                    pointHoverRadius:10,
                    
              
                },
                {
                   label: 'eGift(JPY500)',
                   data: ds2,
                   borderColor: 'rgba(246, 36, 89, 1)',
                   backgroundColor: 'rgba(246, 36, 89, 0.1)',
                //    fill:false,
                   pointRadius:5,
                    pointHoverRadius:10,
                    // lineTension:0,
               
                },
                {
                   label: 'MACHI cafe drinks',
                   data: ds3,
                   borderColor: 'rgba(249, 105, 14, 1)',
                   backgroundColor: 'rgba(249, 105, 14, 0.1)',
                //    fill:false,
                   pointRadius:5,
                    pointHoverRadius:10,
                    // lineTension:0,
                },
                {
                   label: 'Smoothies',
                   data: ds4,
                   borderColor: 'rgba(46, 204, 113, 1)',
                   backgroundColor: 'rgba(46, 204, 113, 0.1)',
                //    fill:false,
                   pointRadius:5,
                    pointHoverRadius:10,
                    // lineTension:0,
                },
                {
                   label: 'Wheel Spin',
                   data: ds5,
                   borderColor: 'rgba(25, 181, 254, 1)',
                   backgroundColor: 'rgba(25, 181, 254, 0.1)',
                //    fill:false,
                   pointRadius:5,
                   pointHoverRadius:10,
                //    lineTension:0,
                },
                ]
            },

            // Configuration options go here
            options: {
					title: {
                        fullWidth:true,
						display: true,
						text: 'Rewards Allocated by Date'
					},

					tooltips: {
						mode: 'index',
						intersect: false,
                        bodyFontSize: 12,
                        titleFontSize: 16,
                        bodySpacing:4,
					},
					responsive: true,
					scales: {
						xAxes: [{
							// stacked: true,
						}],
						yAxes: [{
							// stacked: true
						}]
					},

                    legend: {
						labels: {
							usePointStyle: false
						}
                        }
                    }
        });
    }
</script>
{% endblock content %}