{% extends "dash_app/base.html" %}
{% load staticfiles %}
{% load good_key %}
{% block content %}



<!-- {% include 'dash_app/page_header.html' with market="SLI-Japan Dashboard" %} -->
{% include 'dash_app/tool_bar.html' with market="SLI-Japan Dashboard" %}
<div class="wrapper">
    <div class="card_box">
        <div class="chart_title">Registraion Volumes</div>
        <canvas id="reg_chart" width="300" height="150"></canvas>
    </div>
        
    <div class="card_box">
        <div class="chart_title">Membership Cancellation</div>
        <canvas id="can_chart" width="300" height="150"></canvas>
    </div>
        
    <div class="card_box">
        <div class="chart_title">Assessments Processed</div>
        <canvas id="assess_chart" width="300" height="150"></canvas>
    </div>
        
    <div class="card_box">
            <div class="chart_title">VDP-Device Linking</div>
            <canvas id="vdp_chart" width="300" height="150"></canvas>
    </div>
    <div class="card_box" id="daily_assess_chart_div">
            <div class="chart_title">Daily Overview of Assessments Processed</div>
            <canvas id="daily_assess_chart" width="400" height="150"></canvas>
    </div>

    <div class="card_box" id="reward_chart_div">
        <div class="chart_title">Rewards Allocated by Date</div>
        <canvas id="rewards_chart" width="400" height="150"></canvas>
    </div>

</div>

<script>

//GLOBAL CONFIGURATIONS
    Chart.defaults.global.tooltips.mode ='index',
    Chart.defaults.global.tooltips.intersect =false,
    Chart.defaults.global.tooltips.titleFontSize = 14;
    Chart.defaults.global.tooltips.bodyFontSize = 12;
    Chart.defaults.global.tooltips.bodySpacing = 4;
    Chart.defaults.global.elements.point.radius =5;
    Chart.defaults.global.elements.point.hoverRadius = 10;
    Chart.defaults.global.elements.line.borderWidth = 2;
    Chart.defaults.global.elements.line.tension = 0 ;

//GLOBAL CONFIGURATIONS

//Registration Chart

    let reg_x_axis = []
    let reg_y_axis = []
    {% for x  in reg_data %}
        reg_x_axis.push('{{ x.date_time }}') 
        reg_y_axis.push(parseInt('{{ x.count }}'))
    {% endfor%}
    const reg_chart = document.getElementById('reg_chart').getContext('2d');
    var chart = new Chart(reg_chart, {

        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: reg_x_axis,
            datasets: [{
                // lineTension: 0,
                // fill: false,
                label: "Registrations",
                borderColor: 'rgba(34, 167, 240, 1)',
                backgroundColor:'rgba(34, 167, 240, 0.1)',
                data: reg_y_axis,
                // pointRadius:5,
                // pointHoverRadius:10,
            }]
        },

        // Configuration options go here
        options: {
        scales: {
            xAxes: [{
                ticks: {
                    callback: function(value, index, values) {
                        return value.substring(0, 6);
                    }
                }
            }]
        }
    }
    });


//Cancellation Chart

    let can_x_axis = []
    let can_y_axis = []
    {% for x  in can_data %}
        can_x_axis.push('{{ x.date_time }}') 
        can_y_axis.push(parseInt('{{ x.count }}'))
    {% endfor%}
    const can_chart = document.getElementById('can_chart').getContext('2d');
    var chart = new Chart(can_chart, {

        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: can_x_axis,
            datasets: [{
                label: "Cancellation",
                borderColor: 'rgba(34, 167, 240, 1)',
                backgroundColor:'rgba(34, 167, 240, 0.1)',
                data: can_y_axis,
            }]
        },

        // Configuration options go here
        options: {
            scales: {
            xAxes: [{
                ticks: {
                    callback: function(value, index, values) {
                        return value.substring(0, 6);
                    }
                }
            }]
        }
        }
    });


//Assessment_Chart

    let assess_x_axis = []
    let assess_y_axis = []
    {% for x  in assess_data %}
        assess_x_axis.push('{{ x.event_type }}') 
        assess_y_axis.push(parseInt('{{ x.count__sum }}'))
    {% endfor%}
    const assess_chart = document.getElementById('assess_chart').getContext('2d');
    var chart = new Chart(assess_chart, {

        // The type of chart we want to create
        type: 'horizontalBar',

        // The data for our dataset
        data: {
            labels: assess_x_axis,
            datasets: [{
                lineTension: 0,
                fill: false,
                label: "Assessments Processed",
                backgroundColor:'rgba(34, 167, 240, 0.2)',
                borderColor:'rgba(34, 167, 240, 1)',
                hoverBackgroundColor: 'rgba(34, 167, 240, 0.3)',
                borderWidth:2,
                data: assess_y_axis,
            }]
        },

        // Configuration options go here
        options: {
            tooltips:{
                mode:'point',
            }
        }
    });


//VDP Chart

    let vdp_x_axis = []
    let vdp_y_axis = []
    {% for x  in vdp %}
        vdp_x_axis.push('{{ x.partner_system_name }}') 
        vdp_y_axis.push(parseInt('{{ x.count__sum }}'))
    {% endfor%}
    const vdp_chart = document.getElementById('vdp_chart').getContext('2d');
    var chart = new Chart(vdp_chart, {

        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: vdp_x_axis,
            datasets: [{
                lineTension: 0,
                fill: false,
                label: "VDP",
                data: vdp_y_axis,
                backgroundColor:['rgba(254, 164, 127,1)','rgba(37, 204, 247,1)','rgba(245, 229, 27, 1)','rgba(179, 55, 113,1)','rgba(252, 66, 123,1)','rgba(24, 44, 97,1)'],
                // hoverBorderColor:['rgba(254, 164, 127,1.0)','rgba(37, 204, 247,1.0)','rgba(245, 229, 27, 1)','rgba(179, 55, 113,1.0)','rgba(252, 66, 123,1.0)','rgba(24, 44, 97,1.0)'],
            }]
        },

        // Configuration options go here
        options: {
            anmation:{
                animateRotate: false,
                animateScale: true,
            }
        }
    });


//Daily Assess Chart


    let daily_assess_x_axis = []
    let daily_assess_ds1 = []
    let daily_assess_ds2 = []
    let daily_assess_ds3 = []
    let daily_assess_ds4 = []
    let daily_assess_ds5 = []
    let daily_assess_ds6 = []
    let daily_assess_ds7 = []
    let daily_assess_ds8 = []
    {% for x  in daily_assess %}
        daily_assess_x_axis.push('{{ x.date_time }}') 
        daily_assess_ds1.push(parseInt('{{ x.MWBAssmntCompleted}}'))
        daily_assess_ds2.push(parseInt('{{ x.Mammogram}}'))
        daily_assess_ds3.push(parseInt('{{ x.NonsmokersDeclrtn}}'))
        daily_assess_ds4.push(parseInt('{{ x.PapSmear}}'))
        daily_assess_ds5.push(parseInt('{{ x.SVDocumentUploads}}'))
        daily_assess_ds6.push(parseInt('{{ x.VHCAssmntCompleted}}'))
        daily_assess_ds7.push(parseInt('{{ x.VHRAssmntCompleted}}'))
        daily_assess_ds8.push(parseInt('{{ x.VNAAssmntCompleted}}'))
    {% endfor%}
    const daily_chart = document.getElementById('daily_assess_chart').getContext('2d');
    var chart = new Chart(daily_chart, {

        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: daily_assess_x_axis,
            datasets: [{
                label: 'MWBAssmntCompleted',
                data: daily_assess_ds1,
                backgroundColor: '#003f5c',
            //    borderColor: '#003f5c'
            },
            {
                label: 'Mammogram',
                data: daily_assess_ds2,
                backgroundColor: '#2c82c9',
            // borderColor:'#2f4b7c'
            },
            {
                label: 'NonsmokersDeclrtn',
                data: daily_assess_ds3,
                backgroundColor: '#665191',
            },
            {
                label: 'PapSmear',
                data: daily_assess_ds4,
                backgroundColor: '#a05195',
            },
            {
                label: 'SVDocumentUploads',
                data: daily_assess_ds5,
                backgroundColor: '#d45087',
            },
            {
                label: 'VHCAssmntCompleted',
                data: daily_assess_ds6,
                backgroundColor: '#f95d6a',
            },
            {
                label: 'VHRAssmntCompleted',
                data: daily_assess_ds7,
                backgroundColor: '#ff7c43',
            },
            {
                label: 'VNAAssmntCompleted',
                data: daily_assess_ds8,
                backgroundColor: '#ffa600',
            }
            ]
        },

        // Configuration options go here
        options: {
                scales: {
                    xAxes: [{
                        ticks: {
                        callback: function(value, index, values) {
                        return value.substring(0, 6);
                    }
                }
                    }],
                    yAxes: [{
                        // stacked: true
                    }]
                }
            }
    });


//Rewards Chart

    let rewards_x_axis = []
    let rewards_ds1 = []
    let rewards_ds2 = []
    let rewards_ds3 = []
    let rewards_ds4 = []
    let rewards_ds5 = []

    {% for x  in reward_sli %}
        rewards_x_axis.push('{{ x.awarded_on }}') 
        rewards_ds1.push(parseInt('{{ x.AppleWatchVitalityCoins}}'))
        rewards_ds2.push(parseInt('{{ x.eGiftJPY500}}'))
        rewards_ds3.push(parseInt('{{ x.MACHIcafedrinkS}}'))
        rewards_ds4.push(parseInt('{{ x.Smoothies}}'))
        rewards_ds5.push(parseInt('{{ x.WheelSpin}}'))
    {% endfor%}
    const rewards_chart = document.getElementById('rewards_chart').getContext('2d');
    var chart = new Chart(rewards_chart, {

        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: rewards_x_axis,
            datasets: [{
                label: 'Apple Watch Vitality Coins',
                data: rewards_ds1,
                borderColor: 'rgba(31, 58, 147, 1)',
                backgroundColor: 'rgba(31, 58, 147, 0.1)',
            },
            {
                label: 'eGift(JPY500)',
                data: rewards_ds2,
                borderColor: 'rgba(246, 36, 89, 1)',
                backgroundColor: 'rgba(246, 36, 89, 0.1)',
            },
            {
                label: 'MACHI cafe drinks',
                data: rewards_ds3,
                borderColor: 'rgba(249, 105, 14, 1)',
                backgroundColor: 'rgba(249, 105, 14, 0.1)',
         
            },
            {
                label: 'Smoothies',
                data: rewards_ds4,
                borderColor: 'rgba(46, 204, 113, 1)',
                backgroundColor: 'rgba(46, 204, 113, 0.1)',
            },
            {
                label: 'Wheel Spin',
                data: rewards_ds5,
                borderColor: 'rgba(25, 181, 254, 1)',
                backgroundColor: 'rgba(25, 181, 254, 0.1)',
            },
            ]
        },

        // Configuration options go here
        options: {
                scales: {
                    xAxes: [{
                        ticks:{
                            callback: function(value, index, values) {
                            return value.substring(0, 6);
                    }
                        },
                    }],
                    yAxes: [{
                        // stacked: true
                    }]
                },

                }
    });

</script>
{% endblock content %}