* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

.material-icons.md-24 { font-size: 24px; }

#topnav {
    /* background-image: linear-gradient(45deg, #4481eb 0%, #04befe 100%); */
    /* background: #fff; */
    color: #888;
    padding: 1%;
    max-height: 50px;
    /* box-shadow: rgba(36, 37, 38, 0.08) 0px 6px 15px 0px; */
}

#topnav a:hover {
    text-decoration: none;
}

#topnav-links {
    float: right;
}

#topnav-links ul li {
    display: inline;
    padding: 5px; 
}

#topnav-links ul li a {
    color: #888;
    text-decoration: none;
}

#topnav-links ul li a:hover {
    color: #39d5ff;
}

#brand {
    position: relative;
    padding: 2rem .7rem;
    z-index: 4;
    font-size: 18px;
    border-bottom: 1px solid #485460;
}

#brand a{
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: #fff;
}

.logo{
    float: left;
    text-align: center;
    margin-right: 0.5em;
}

.logo-text{
    display: block;
    text-decoration: none;
    line-height: 25px;
    overflow: hidden;
}

/* SIDENAV */

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background-color: #2F2C32;
    color: #fff;
}


.side-menu{
    margin-top: 50px;
    margin-bottom: 10px;
    overflow:hidden;
    top:0;
    bottom:0;
    left:0;
    padding:10px;
}

.side-head{
    /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
    /* background-color: #3d3d3d; */
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 20px;
    margin-bottom: 2px;
    text-align: center;
    
}

.sli-side{
    background-image: linear-gradient(to top, #ff869f 0%,#fd7d69 100%);
    
}

.sli-side:hover{
    background-image: linear-gradient(to top, #ff869f 0%,#fd6d57 100%);
    
}

.kr-side{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);

}

.kr-side:hover{
    background-image: linear-gradient(to top, #48c6ef 0%, #5873d4 100%);

}


.side-ul{
    list-style: none;
    outline:0;
    margin:0;
    padding:0;
}

.side-ul li{
    font-size: 12px;
    font-weight: 700;
    position: relative;
    display:block;
    border-radius: 20px;
    text-transform: capitalize;
    padding: 10px;
    padding-left:20px;
    color: #b2bec3;
}

.side-ul li:hover{
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: #fff;
}

.side-ul li i:hover{

    color: #1BA5E7;
}


.side-links{
    text-decoration: none;
    color: rgb(240, 240, 240);
}
.side-links:hover{
    text-decoration: none;
    color: #fff;
}


#main{
    margin-left: 200px;
}

#content {
    padding: 2%;
}

.welcome-box{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(36, 37, 38, 0.08) 0px 6px 15px 0px;
    border-radius: 20px;

}

.landing {
    display: grid;
    grid-template-columns: 1fr, 1fr;

}


#sli {

    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    height: 250px;
    padding: 5%;
    font-size: 24px;
    border-radius: 20px;
}

#sli:hover {
    box-shadow: 1px 10px 20px 1px rgba(36, 37, 38, 0.2);
}

#korea {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: 250px;
    padding: 5%;
    font-size: 24px;
    border-radius: 20px;
}

#korea:hover {
    box-shadow: 1px 10px 20px 1px rgba(36, 37, 38, 0.2);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.card_box{
    border-radius: 20px;
    padding: 10px;
    background: #fff;
    box-shadow: 1px 10px 20px 1px rgba(36, 37, 38, 0.08);
}

#daily_assess_chart_div {
    grid-column-start: 1;
    grid-column-end: 3;

}

#reward_chart_div {
    grid-column-start: 1;
    grid-column-end: 3;
    /* padding: 10px; */
}


#page_header {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 10px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 55% auto 20%;
    grid-template-rows: 100px 30px;
    box-shadow: rgba(36, 37, 38, 0.08) 0px 6px 15px 0px;
    border-radius: 20px;
}

.date-field {
    padding: 1px;
    border: 1px solid #cacccc;
    color: #cacccc;
}

#id_from_date {
    width: 276;
}


#id_to_date {
    width: 150;
}

#header_item_a {
    align-self: center;
    grid-area: 1 / 1 / 3 / 2;
}

#header_item_b {
    justify-self: center;
    align-self: end;
    grid-area: 1 / 2 / 3 / 4;
}

#header_item_c {
    justify-self: end;
    align-self: end;
    grid-area: 2 / 2 / 3 / 3;
}

.head_button {
    padding: 2px 5px 2px 5px;
}

.chart_title{
    border-bottom: 1px solid #bfbfbf;
    color:rgb(97, 97, 97);
    padding:10px;
    margin-bottom: 10px;
}

/* Tool Bar */
#tool_bar{
    margin-top: 30px;
    padding: 5px;
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    background-color: #fff;
    text-align: right;
    border-radius: 20px;
    box-shadow: rgba(36, 37, 38, 0.08) 0px 6px 15px 0px;
    margin-bottom: 20px;
}
#filter_form{
    display: inline;
    font-size: 14px;
    margin-right: -20px;
}
#filter_form input{
    display: inline;
    padding: 5px 5px;
    border-radius: 20px;
    background-color: #f1f2f6;
    /* background-image: linear-gradient(to left, #f3e7e9 0%, #e3eeff 100%); */
    /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
    border: none;

}

*:focus { outline:0 !important; }


#filter_form label{
    color: rgb(97, 97, 97);;
}

#submit_btn{
    color:#2F2C32;
    padding: 5px 8px;
    width:80px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    /* background-color: #DDE0FF; */
}

#submit_btn:hover{
    background-image: linear-gradient(120deg, #98befa 0%, #aeddf3 100%);
    color: #fff;
}

#clear_btn{
    color:#2F2C32;
    font-size: 14px;
    padding: 5px 8px;
    width:80px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); 
    /* background-color: #B4B8F5; */
    
}

#clear_btn:hover{
    background-image: linear-gradient(-20deg, #decff5 0%, #fafcce 100%); 
    color: #fff;
}


#export_btn{
    color:#2F2C32;
    margin-left: -5px;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 20px;
    width:80px;
    border: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    /* background-color: #CC3A73; */
}
#export_btn:hover{
    background-image: linear-gradient(45deg, #fa8f93 0%, #f8c1b1 99%, #f5c8bb 100%);
    color: #fff;
}





#version{
    color: #fff;
    padding: 5px;
    font-size: 11px;
}